html
{
    /*
    BACKGROUND
    */
    background: url(img/background.jpg) no-repeat center center fixed;
    background-color: #202327;
    background-size: cover;

    height: 100%;
    width: 100%;
    resize: both;
    overflow: scroll;

    font-family: 'consolas','inconsolata',monospace;
}
body
{
    color:whitesmoke;
    /* text-align: center; */
}

/* Footer */
footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

#footerlink:link, 
#footerlink:active,
#footerlink:visited
{
    color: whitesmoke;
    text-decoration: none;
}
#footerlink:hover
{
    color: gray;
    text-decoration: none;
}

.title
{
    /*
    includes:
     name
    */
    /* font-family: 'Didact Gothic', sans-serif; */
    color: white
}
#profilepic
{
    border-radius:50%;
    height: 7em;
    border: 3px solid whitesmoke;
}