html
{
  /* background: url(img/background.jpg) no-repeat center center fixed; */
  background-color: #111;
  background-size: cover;
  /* height: 100%; */
  /* width: 100%; */
  /* resize: both; */
  overflow: auto;
  font-family: 'consolas','inconsolata',monospace;
}

body
{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    'navbar main'
    'navbar footer';
  
  background-color: #202327;
  color: whitesmoke;
  
  min-height: 100vh;
  margin: 0 !important;
}

p
{
  text-indent: 2em;
  font-size: 0.6em;
}

.sidebar
{
  grid-area: navbar;
  z-index: 1;
  background-color: #111;
  overflow: hidden hidden;
  padding-top: 10rem;
  text-align: center;
  font-size: 1.6em;
  
  margin: 0 !important;
}

#linkbox
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

#linkbox td
{
  width: 2.2em;
  height: 2.2em;
}

.title
{
  padding-top: 0px;
}

.sidebar a
{
  text-decoration: none;
  color: #818181;
  transition: 0.25s;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active)
{
  color: #af2222;
}

#profilepic
{
  border-radius:50%;
  height: 7rem;
  border: 3px solid whitesmoke;
  transition: 0.25s;
  filter: grayscale(100%);
}

#profilepic:hover
{
  border-color: #af2222;
  filter: grayscale(0%);
}

.title a
{
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

#titleFirst {
  display: inline-block;
}
#titleFirst a {
  display: inherit;
}

main
{
  flex: 1;
  overflow: hidden;
  margin: 1rem;
}

footer
{
  grid-area: footer;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  /* display: none; */
}

#wave
{
  width: 300px;
  text-align: left;
  font-size: 12px;
  margin-left: 30px;
  display: none;
  position: absolute;
  bottom: 24px;
  z-index: 2;
}
#wave p
{
  overflow: hidden;
}

.footerlink:link,
.footerlink:active,
.footerlink:visited
{
  color: whitesmoke;
  text-decoration: none;
  padding: 0;
}
.footerlink:hover
{
  color: gray;
  text-decoration: none;
}

#wavetoggle
{
  cursor: default;
}
#wavetoggle:hover
{
  color: whitesmoke;
}

#titleG {
  cursor: pointer;
}

.title:hover {
  color: #af2222;
}

body
{
  display: flex;
  flex-direction: column;
  background-color: #111;
}
.sidebar
{
  top: 50%;
  font-size: 2em;
}
#profilepic
{
  filter: grayscale(0%);
}

#githublink
{
  display: none;
}
#gitlablink
{
  display: block;
}

@media screen and (max-width: 769px)
{
  body
  {
    display: flex;
    flex-direction: column;
    background-color: #111;
  }
  .sidebar
  {
    top: 50%;
    font-size: 2em;
  }
  #profilepic
  {
    filter: grayscale(0%);
  }
}

h2
{
  font-size: large;
}

 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
  background-color: #444;
  color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 25%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #444;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  align: center;
  width: 25%;
  background-color:;
  display: none;
  overflow: hidden;
} 

div
{
  text-align: center;
  width: 50%;
  margin: auto;
}

article
{
  max-width: 33%;
  margin: auto;
  align-items: center;
  text-align: left;
}

h3
{
  font-size: 0.75em;
}
