html
{
    /*
    BACKGROUND
    */
    background: url(img/background.jpg) no-repeat center center fixed;
    background-color: #111;
    background-size: cover;

    /* height: 100%; */
    /* width: 100%; */
    /* resize: both; */
    overflow: auto;

    font-family: 'consolas','inconsolata',monospace;
}
body
{
  /* display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr auto; */
  /* height: 100vh; */
  color: whitesmoke;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}



.sidebar {
  /* display: grid; */
  grid-column: 1 2;
  grid-row: span 3;
  /* height: 100vmax; */
  /* width: 20rem; */
  /* position: fixed; */
  z-index: 1;
  /* top: 0; */
  /* left: 0; */
  background-color: #111;
  overflow: hidden hidden;
  padding-top: 16px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 1.6em;
  
  /* margin: 0 !important; */
}

.title {
  padding-top: 0px;
}


/* Sidebar links */
.sidebar .navlink {
  display: inline-block;
  padding: 8px;
  
}
.sidebar a {
  
  text-decoration: none;
  
  color: #818181;
  transition: 0.25s;
  
}

/* Active/current link */
.sidebar a.active {
  /* background-color: rgb(255, 0, 0); */
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {

  color: #f1f1f1;;
}

.title a {
  text-decoration: none;
  color: whitesmoke;
}

main {
  flex: 1;
  overflow: hidden;
  margin: 1rem;
}



/* Footer */
footer
{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  /* float: center; */
  /* left: 300px; */
  /* padding-bottom: 5px; */
  /* padding-left: 9px; */
  text-align: center;
  font-size: 12px;
  /* z-index: 0; */
  overflow: hidden;
}

/* .emailme {
  border-radius:50%;
  height: 3em;
  width: 3em;
  border: 3px solid whitesmoke;
  float: right;
  margin-right: 40px;
  margin-bottom: 40px;
} */

#wave {
  /* display: block; */
  /* width: 200px; */
  text-align: left;
  margin-left: 30px;
  /* overflow: auto; */
  visibility: hidden;
}

footer p {
  margin: 0;
  /* margin-bottom: 5px; */
}

/* .footer
{
  grid-column: span 3;
  left: 300px;
  bottom: 5px;
  text-align: center;
  font-size: 12px;
  vertical-align: bottom;
} */

.footerlink:link,
.footerlink:active,
.footerlink:visited
{
  color: whitesmoke;
  text-decoration: none;
  padding: 0;
}
.footerlink:hover
{
  color: gray;
  text-decoration: none;
}

#wavetoggle {
  /* color: whitesmoke; */
  cursor: default;
  /* text-decoration: none; */
}
#wavetoggle:hover {
  color: whitesmoke;
  /* text-decoration: none; */
}

#profilepic
{
  border-radius:50%;
  height: 7rem;
  border: 3px solid whitesmoke;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
/* @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding: 1rem;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
} */

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
/* @media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} */

.dropbtn {
  background-color: rgba(76, 175, 79, 0);
  color: #818181;
  /* padding: px; */
  font-size: inherit;
  font-family: 'consolas','inconsolata',monospace;
  border: none;
  /* cursor: inherit; */
  /* padding-bottom: 8px; */
  margin: 0px !important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #202327;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* padding: -8px; */
  /* float: right; */
  visibility: hidden;
}

/* Links inside the dropdown */
.dropdown-content a {
  /* color: black; */
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #ddd;} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
  color: whitesmoke
}

@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr auto;
    background-color: #202327;
  }
  .sidebar {
    padding-top: 10rem;
  }
  .dropdown-content {
    visibility: visible;
  }
}